@charset "UTF-8";

/* 回答はここに書いてね */
.q3_table{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse ;
}

/* .q3_table *{
  padding: 10px;
  text-align: center;
  border: 1px solid #dedede;
  margin: 0 auto;
} */

.q3_table th,
.q3_table td{
  padding: 10px;
  vertical-align: middle;
  border: 1px solid #dedede;
}

.q3_table th{
  font-size: 18px;
  line-height: 26px;
}

.q3_table td{
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.q3_table th,td:first-child{
  background: #2244aa;
  color: white;
}

.q3_table tr:nth-child(odd){
  background: #ecf1f2;
}

.q3_table tfoot th,
.q3_table tfoot td{
  border-top: 2px dashed #000;
}
/* 回答はここに書いてね */
